//All Preset color variables are here
$primary-font: 'Quicksand', sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$letter-spacing: 26px;

 // Defult
 $defult: #00cc67;
 
//Current Preset Declareation
 $preset:  $defult;